# zsh
/.zsh/.zcompdump*
/.zsh/.zshrc_local
/.zsh/.zshrc_local.tmp

# vim
/.vim/dein/repos/*
!dein.vim
/.vim/cache/*
/.vim/dein/.cache
## vim temp files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# emacs
.emacs.d/auto-save-list/*
!.gitkeep
# .emacs.d/elpa/*
.emacs.d/public_repos/*
!.emacs.d/public_repos/php-mode
!.gitkeep
.emacs.d/undohist/*
!.gitkeep
.emacs.d/url/*
!.emacs.d/url/cache
!.gitkeep
.emacs.d/resentf*

## emacs temp files
.\#*

# Backup files
#---------------------------
*~
*.orig
*.bak
# yyyyMMdd
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
# yyyyMMddHHmm
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
# yyyyMMddHHmmss
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
# OS dependent files
#---------------------------
.DS_Store
Thumbs.db
# Bundler specific
#---------------------------
/vendor/bundle/
/.bundle/
# Office specific
~$*
*.tmp
